# Default to binary (no diff)

* binary diff

# VB6 source files (show diff + keep CRLF in zip download)

.bas        text=auto eol=crlf
.cls        text=auto eol=crlf
.ctl        text=auto eol=crlf
.dob        text=auto eol=crlf
.dsr        text=auto eol=crlf
.frm        text=auto eol=crlf
.pag        text=auto eol=crlf
.vbg        text=auto eol=crlf
.vbl        text=auto eol=crlf
.vbp        text=auto eol=crlf
.vbr        text=auto eol=crlf
.vbw        text=auto eol=crlf
